@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
body{
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background: url('/src/noita.jpg');
    background-size: cover;
    background-position: center center; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    background-color: black;
}
.base-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.outline_div{
    margin-top: 10px;
    margin-bottom: 10px;
}
.row{
    display: flex; 
    width: 100%; 
    justify-content: space-evenly;
}
.margined_text{
    margin-right: 10px;
    margin-left: 10px;
}
.half_scr_right{
    position: relative;
    left: 55%;
    width: 45%;
}
.half_scr_left{
    position: relative;
    width: 45%;
}

.links{
    color:white;
    font-weight: 700;
}   
.links:hover{
    color:red;
}

.margined_text2{
    margin-top: 100px;
}